
ul{
    list-style: none;
       li{
            display: flex;
                 a{
                    text-decoration: none;
                    text-align: center;
                }    
        }
}