.botones{
    background-color: $color-secundario;
    text-align: center;
    color: white;
    border-radius: 15px;
    justify-content: center;

    &:hover{
        filter: opacity(80%);
    }
}

.botonVerde{
    @extend .botones;
    background-color: $color-principal;
    color: white;
}


