.grillas{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2,1fr);

    gap: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;


    grid-template-areas:
    "redes1 redes2 redes3"
    "direccion telefono email";
}

.grillaPosicion1{
    grid-area: redes1;
}
.grillaPosicion2{
    grid-area: redes2;
}
.grillaPosicion3{
    grid-area: redes3;
}
.grillaPosicion4{
    grid-area: direccion;
}
.grillaPosicion5{
    grid-area: telefono;
}
.grillaPosicion6{
    grid-area: email;
}