
header img {
    width: 15%;
    height: 15%;
    padding: 1px;
    display: block;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
}




img{
    width: 60%;
    height: 60%;
    padding: 25px;
    margin: auto;
    display: flex;
    align-items: center;
}



.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

