
header h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:$color-principal;
    border-style: solid;
    border-width:thin;
    border-color: $color-principal;
}



h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $color-secundario;  
    margin-top: 20px;
}



.categoriaProducto{
    text-decoration: none;
    color: $color-principal;
    font-weight: bold;
    margin-top: 20px;
    border-style: solid;
    border-color: $color-principal;
    border-width: thin;
}


p{
    color:$color-secundario;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



footer{
    border-style: solid;
    border-color:$color-secundario;
    text-align: center;
    color: $color-secundario;
    margin-top: 20px;
    margin-bottom: 20px;
}
 