$redes: (
    Facebook: rgba(5, 5, 154, 0.679),
    Instagram: rgba(172, 0, 175, 0.853),
    tiktok: rgb(91, 0, 0),

);

.infoFacebook{
    color: map-get($map: $redes, $key: Facebook);
}

.infoInstagram{
    color: map-get($map: $redes, $key: Instagram);
}

.infoTiktok{
    color: map-get($map: $redes, $key: tiktok);
}

